{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}To Do & Shop smart{% endblock %}</title>
    <script src="https://kit.fontawesome.com/acabd4fa32.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $(".collapsed_today").click(function(event){$(".todo_rows_today").fadeToggle().delay(100);})
            $(".collapsed_tomorrow1").click(function(event){$(".todo_rows_tomorrow1").fadeToggle().delay(100);})
            $(".collapsed_tomorrow2").click(function(event){$(".todo_rows_tomorrow2").fadeToggle().delay(100);})
            $(".collapsed_tomorrow3").click(function(event){$(".todo_rows_tomorrow3").fadeToggle().delay(100);})
            $(".collapsed_tomorrow4").click(function(event){$(".todo_rows_tomorrow4").fadeToggle().delay(100);})
            $(".collapsed_tomorrow5").click(function(event){$(".todo_rows_tomorrow5").fadeToggle().delay(100);})
            $(".collapsed_tomorrow6").click(function(event){$(".todo_rows_tomorrow6").fadeToggle().delay(100);})
            $(".collapsed_future").click(function(event){$(".todo_rows_future").fadeToggle().delay(100);})
            $(".collapsed_past").click(function(event){$(".todo_rows_past").fadeToggle().delay(100);})
            $(".collased_past_compl_container").click(function(event){$(".todo_rows_past_compl").fadeToggle().delay(100);})
            
            $(".todo_rows_today").click(function(event) {
                if ($(".update").is(":hidden"))
                    $(".update").fadeToggle().delay(100);

              })

            $(".todo_rows_future").click(function(event) {
                if ($(".update").is(":hidden"))
                    $(".update").fadeToggle().delay(100);

              })
            $(".todo_rows_past").click(function(event) {
                if ($(".update").is(":hidden"))
                    $(".update").fadeToggle().delay(100);

              })
            $(".todo_rows_past_compl").click(function(event) {
                if ($(".update").is(":hidden"))
                    $(".update").fadeToggle().delay(100);

              })
            
            
          })
        
        
</script>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" >

</head>
<body>
    {% if user.is_authenticated %}
    <div class="welcome">Welcome, {{ user.username }}</div>
    {% endif %}
    <div class="sidebar">
        {% block sidebar %}
        {% if user.is_authenticated %}
        <ul>
            <li class="menubar"><a href="/">HOME</a></li>
            <li class="menubar"><a href="/login">LOGIN</a></li>
            <li class="menubar"><a href="/register">REGISTER</a></li>
            <li class="menubar"><a href="/logout">LOGOUT</a></li>
            <br><br><br>
            <li class="menubar"><a href="/today">TODAY</a></li>
            <li class="menubar"><a href="/seven_days">NEXT 7 DAYS</a></li>
            <li class="menubar"><a href="/">ALL TASKS</a></li>
            <li class="menubar"><a href="/groups">GROUPS</a></li>
        </ul>
        {% elif user.is_anonymous %}
        <ul>
            <li class="menubar"><a href="/">Home</a></li>
            <li class="menubar"><a href="/login">Login</a></li>
            <li class="menubar"><a href="/register">Register</a></li>

        </ul>
        {% endif %}
        {% endblock %}
    </div>
    <div class="login">
        {% block login %}
        {% endblock %}
        {% block register %}
        {% endblock %}
    {% if user.is_anonymous %}
        <p class="register_list">Welcome, new user. Please log in to see the content.</p>


        {% endif %}
    </div>
    
    {% if user.is_authenticated %}
    <div class="login">
    
        {% block group_list %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="update" style="display: none;">
       <iframe class="myIframe" name="myIframe" src='about:blank'></iframe>
    </div>
    {% endif %}


</body>