{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" >


<div class="delete_method">
    <div>Are you sure you want to delete an item</div><br \>
    <div style="font-weight: bold;">{{item}}</div>
    <br \>
    <a class="cancel_button" href="{% url 'list_page' %}" target='_parent'>Cancel</a>
    <br \>
    <form method="POST" target='_parent' action="">
        {% csrf_token %}
        <input class="btn btn-outline-primary" type="submit" value='Yes'>
    </form>
</div>