{% extends 'base.html' %}


{% block group_list %}
    <div class="todo_list">
        <h4>Create new group</h4>
        <form method="POST" action="{% url 'groups_page' %}">
            {% csrf_token %}
            {{form.group_name.label_tag}}
            {{form.group_name}}
            <input class="btn btn-info" type="submit" name="createGroup" value="Create">
            <input onclick="return confirm('Are you sure you want to delete this group?')" class="btn btn-info" type="submit" name='deleteGroup' value="Delete">
        </form>
        {% if forbid_message %}
            <p style="font-size: 14px; color: red">{{ forbid_message }}</p>
        {% endif %}
        {% if error_message %}
            <p style="font-size: 12px; color: red">{{ error_message }}</p>
        {% endif %}
        {% if success_message %}
            <p>{{ success_message }}</p>
        {% endif %}
    </div>

    <div class="todo_list">
        <form>
            <h5>Choose group to filter tasks</h5>
            <select id="inputState" name='category' style="width: 250px; height: 40px;">
            <option value="" disabled selected hidden>Choose...</option>
            {% for cat in categories %}
            <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
            </select>
            
            <button type="submit" class="btn btn-info">Filter</button>
        </form>
    </div>
    
    <div class="todo">
        <label><h3 class="collapsed_today">{{category|default_if_none:'All Tasks'}}</h3></label>
        <span class="number_of_count">{{queryset|length}}</span>
        {% for todo in queryset %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_today">
                    <input type="checkbox" name="checkbox_check"{% if todo.completed %} checked {% endif %} style="margin-left: 10px; vertical-align: middle;">
                    {% if todo.completed == True %}
                        <label class="checked">{{todo}}</label>
                    {% else %}
                        <label class="unchecked">{{todo}}</label>
                    {% endif %}
                        <span class="time">{{todo.created|date:"Y m d"}}</span>

                </div>
            </a>
                {% empty %}
                <div class="todo_rows">
                    <span>There's no items in this list</span>
                </div>
        {% endfor %}
    </div>
{% endblock%}
