{% extends 'base.html' %}


{% block filter %}
    <div class="todo_list">
        <form>
            <div class="form-group col-md-6">
                <label for="inputState">Choose category to filter tasks</label>
                <select id="inputState" class="form-control" name='category'>
                    <option value="" disabled selected hidden>Choose...</option>
                {% for cat in categories %}
                <option value="{{cat.id}}">{{cat}}</option>
                {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-info">Filter</button>
        </form>
    <br>
    <div class="todo">
        <label><h3 class="collapsed_today">TODAY'S TASKS</h3></label>
        <span class="number_of_count">{{queryset|length}}</span>
        {% for todo in queryset %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_today">
                    <input type="checkbox" name="checkbox_check"{% if todo.completed %} checked {% endif %} style="margin-left: 10px; vertical-align: middle;">
                    {% if todo.completed == True %}
                        <label class="checked">{{todo}}</label>
                    {% else %}
                        <label class="unchecked">{{todo}}</label>
                    {% endif %}
                        <span class="time">{{todo.created|date:"Y m d"}}</span>

                </div>
            </a>
                {% empty %}
                <div class="todo_rows">
                    <span>There's no items in this list</span>
                </div>
        {% endfor  %}
    

{% endblock%}