{% extends 'base.html' %}


{% block content %}
    <div class="todo_list">
        <h4>Add a task</h4>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.title}}
            {{form.created}}
            {{form.task_group.label_tag}} {{form.task_group}}
            <br>
            <input class="btn btn-info" type="submit" name="Create Task"> 
        </form>
    </div>


    <div class="todo">
        <label><h3 class="collapsed_today">{{name}}</h3></label>
        <span class="number_of_count">{{todos_today|length}}</span>
        {% for todo in todos_today %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_today">
                    <input type="checkbox" disabled name="checkbox_check"{% if todo.completed %} checked {% endif %} style="margin-left: 10px; vertical-align: middle;">
                    {% if todo.completed == True %}
                        <label class="checked">{{todo}}</label>
                    {% else %}
                        <label class="unchecked">{{todo}}</label>
                    {% endif %}
                        <span class="time">{{todo.created|date:"Y m d"}}</span>

                </div>
            </a>
                {% empty %}
                <div class="todo_rows">
                    <span>There's no items in this list</span>
                </div>
        {% endfor %}

</div>
{% endblock %}


