{% extends 'base.html' %}
{% load static %}
<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" >

{% block content %}
    <div class="todo_list">
        <h4>Add a task</h4>
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            {{form.created}}
            {{form.task_group.label_tag}} {{form.task_group}}
            <input class="btn btn-outline-primary" type="submit" value="Create Task">
        </form>
    </div>

{% comment %} {% now "Y-m-d" as date_now %} {% endcomment %}

<div class="todo">
        <label><h3 class="collapsed_today">TODAY'S TASKS</h3></label>
        <span class="number_of_count">{{todos_today|length}}</span>
        {% for todo in todos_today %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_today">
                    <input class="checkbox" type="checkbox" disabled name="checkbox_check"{% if todo.completed %} checked {% endif %}>
                    {% if todo.completed == True %}
                        <label class="checked">{{todo}}</label>
                    {% else %}
                        <label class="unchecked">{{todo}}</label>
                    {% endif %}
                        <span class="time">{{todo.created|date:"Y m d"}}</span>

                </div>
            </a>
                {% empty %}
                <div class="todo_rows">
                    <span class="no_items">There's no items in this list</span>
                </div>
        {% endfor  %}


        <label><h3 class="collapsed_future">FUTURE TASKS</h3></label>
        <span class="number_of_count">{{todos_future|length}}</span>
        {% for todo in todos_future %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_future">
                    <input class="checkbox" type="checkbox" disabled name="checkbox_check"{% if todo.completed %} checked {% endif %}>
                    {% if todo.completed == True %}
                        <label class="checked">{{todo}}</label>
                    {% else %}
                        <label class="unchecked">{{todo}}</label>
                    {% endif %}
                        <span class="time">{{todo.created|date:"Y m d"}}</span>
                </div>
            </a>
                {% empty %}
                <div class="todo_rows">
                    <span class="no_items">There's no items in this list</span>
                </div>
        {% endfor  %}


        <label><h3 class="collapsed_past">OVERDUE TASKS</h3></label>
        <span class="number_of_count">{{todos_uncompleted_before|length}}</span>
        {% for todo in todos_uncompleted_before %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_past">
                    <input class="checkbox"  type="checkbox" disabled name="checkbox_check"{% if todo.completed %} checked {% endif %}>
                    <label class="unchecked">{{todo}}</label>
                    <span class="time">{{todo.created|date:"Y m d"}}</span>
                </div>
            </a>
            {% empty %}
            <div class="todo_rows">
                <span class="no_items">There's no items in this list</span>
            </div>
        {% endfor  %}
    <div class="collased_past_compl_container">
        <div class="collapsed_past_compl">TASKS HISTORY</div>
        <div class="collapsed_past_compl_warning">tasks will be stored here for {{task_delete_interval}} days</div>
        <div class="number_of_count_compl">{{todos_completed_before|length}}</div>
    </div>
        {% for todo, days in zipped_completed_tasks_list_for_deletion_with_days %}
            <a href="{% url 'update_todo' todo.pk %}" target='myIframe'>
                <div class="todo_rows_past_compl">
                    <input class="checkbox" type="checkbox" disabled name="checkbox_check"{% if todo.completed %} checked {% endif %}>
                    <label class="checked">{{todo}}</label>
                    <label class="days_left">{{ task_delete_interval|add:days }} days left</label>
                </div>
            </a>
            {% empty %}
            <div class="todo_rows">
                <span class="no_items">There's no items in this list</span>
            </div>
        {% endfor  %}


    </div>
{% endblock %}


