{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Permission error</title>
</head>
<body>
    <div class="outer_404">
        <div class="inner_404_left">
            500
            <p class="inner_404_text">ups.. <br /> it seems you have no permissions for that
                <br /><a class="inner_404_link" href="/">load home page</a>
            </p>
            
        </div>
    </div>
</body>
</html>

