{% extends 'base.html' %}

{% block title %}
Login Here
{% endblock %}

{% block login %}
{% if user.is_authenticated %}
<div class="todo_list">
<h4>You are already logged in</h4>
<h4><a href="/logout">Logout</a> to use different user</h4>
</div>
{% endif %}

{% if user.is_anonymous %}


{% load crispy_forms_tags %}


<div class="register_list">
    <form method="post" class="from-group">
	{% csrf_token %}
	{{form|crispy}}
	<p>Don't have an accoount? Create one <a href="/register">here</a></p>
	<button type="submit" class="btn btn-info">Login</button>	
    </form>
</div>
{% endif %}
{% endblock %}
