{% extends 'base.html' %}

{% block title %}
Login Here
{% endblock %}

{% block login %}
{% if user.is_authenticated %}
<div class="todo_list">
<h4>You are already logged in</h4>
<h4><a href="/logout">Logout</a> to use different user</h4>
</div>
{% endif %}

{% if user.is_anonymous %}

{% if success_message %}
<div class="register_list">
	<div style="font-variant:small-caps; font-size:30px;">Thank You and welcome onboard!</div>
	<br /><br />
		<div style="font-variant:small-caps; font-size:22px;">This message means that you've successfully registered.</div>
		<br />
		 <div style="font-variant:small-caps; font-size:22px;">You will receive a confirmation email shortly with your login data.</div>
		 <br />
			<div style="font-variant:small-caps; font-size:22px;"><a href="/login">Login</a> and start using this app. We hope you like it! </div>
			<br />
			<div style="font-variant:small-caps; font-size:28px;">See ya!</div>
	</div>
{% endif %}


{% load crispy_forms_tags %}


<div class="register_list">
    <form method="post" class="from-group">
	{% csrf_token %}
	{{form|crispy}}
	<p>Don't have an accoount? Create one <a href="/register">here</a></p>
	<button type="submit" class="btn btn-info">Login</button>	
    </form>
</div>
{% endif %}
{% endblock %}
